body {
  color: whitesmoke;
  background-color: rgb(33, 47, 60);
  text-align: center;
}

table {
  margin: 0 auto 20px auto;
  border-collapse: collapse;
  background-color: black;
}

td {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}

.alive {
  background: coral;
}

.dead {
  background-color: white;
}
